<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kobus.pitzer.cinephind">

    <application
        android:name=".PhindApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="cinePhind"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CinePhind"
        android:usesCleartextTraffic="true"> <!-- This is not optimal but as omdb is being used this needs to be done-->

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MovieDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SeriesDetailActivity"
            android:screenOrientation="portrait" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>